@import url("style.css");

header {
    margin-top: 100px;
    /* border: 1px solid red; */
    font-family: "Inter", sans-serif;
    height: 214px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

header h1 {
    font-weight: 900;
    font-size: 60px;
}

header span {
    background-color: black;
    color: white;
    padding: 16px 54px;
    border-radius: 30px;
    font-size: 25px;
    font-weight: bold;
}

.courses {
    margin-top: 100px;
    /* border: 1px solid red; */
    padding: 0 140px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.courses .courses-item {
    /* height: 400px; */
    padding: 50px;
    background-color: black;
    border-radius: 40px;
    transition: 300ms;
    cursor: pointer;
    /* border: 1px solid red; */
}

.courses .courses-item:hover {
    transform: scale(1.02);
}

.courses .courses-item .atas {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
}

.courses .courses-item .atas .user {
    display: flex;
    gap: 30px;
    width: 100%;
    /* border: 1px solid blue; */
}

.courses .courses-item .atas .admin {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    /* border: 1px solid red; */
}

.courses .courses-item .atas .admin button {
    font-family: "Poppins";
    font-weight: 600;
    padding: 10px 30px;
    background-color: white;
    border-radius: 10px;
    font-size: 15px;
    border: none;
    transition: 300ms;
    display: flex;
    align-items: center;
}

.courses .courses-item .atas .admin button i {
    margin-right: 5px;
}

.courses .courses-item .atas .admin button:hover {
    background-color: rgb(240, 238, 238);
}

.courses .courses-item .atas .admin button.btn-batal {
    display: none;
}

.courses .courses-item .atas .item:first-child {
    background-color: white;
    width: 130px;
    height: 125px;
    display: grid;
    place-items: center;
    border-radius: 25px;
}

.courses .courses-item .atas .item:first-child img {
    width: 80px;
    height: 80px;
}

.courses .courses-item .atas .item:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    /* border: 1px solid red; */
    width: 400px;
    /* width: 80%; */
}

.courses .courses-item .atas .item:last-child input {
    height: 50px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-family: "Poppins";
    outline: none;
    border-radius: 12px;
    padding: 5px 10px;
    font-size: 23px;
    display: none;
    /* width: 100px; */
    width: 100%;
}

.courses .courses-item .atas .item:last-child span {
    color: white;
    font-family: "Poppins", sans-serif;
}

.courses .courses-item .atas .item:last-child span:first-child {
    font-size: 23px;
    font-weight: 400;
    font-weight: bold;
}

.courses .courses-item .atas .item:last-child span:nth-child(3) {
    font-size: 25px;
    /* font-weight: 600; */
}

.courses .courses-item .bawah {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.courses .courses-item .bawah input {
    height: 50px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-family: "Poppins";
    outline: none;
    border-radius: 12px;
    padding: 5px 10px;
    font-size: 23px;
    display: none;
    /* width: 100px; */
    width: 100%;
}

.courses .courses-item .bawah span {
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 17.9px;
}

.courses .tambah-course {
    padding: 50px;
    background-color: black;
    border-radius: 40px;
    font-family: "Poppins", sans-serif;
}

.courses .tambah-course h1 {
    color: white;
    text-align: center;
    font-size: 40px;
}

.courses .tambah-course form {
    margin-top: 20px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.courses .tambah-course form .form-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.courses .tambah-course form .form-item label {
    color: white;
    font-size: 18px;
}

.courses .tambah-course form .form-item input {
    border: none;
    outline: none;
    border-radius: 12px;
    height: 45px;
    font-size: 15px;
    padding: 0 10px;
    font-family: "Poppins", sans-serif;
}

.courses .tambah-course form .form-item input[type="file"] {
    color: white;
    padding: 0;
    border: 2px solid white;
    width: fit-content;
}

.courses .aksi button {
    border: 2px solid black;
    background-color: white;
    color: black;
    height: 45px;
    width: 100%;
    border-radius: 12px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    transition: 300ms;
    cursor: pointer;

    &:hover {
        background-color: black;
        color: white;
    }

    &:active {
        transform: translateY(3px);
    }
}

::-webkit-file-upload-button {
    font-family: "Poppins", sans-serif;
    width: 100px;
    height: 100%;
    background-color: white;
    color: black;
    border: none;
    outline: none;
}

.courses .tambah-course form .form-item button {
    margin-top: 20px;
    border: 1px solid white;
    outline: none;
    background-color: black;
    color: white;
    border-radius: 12px;
    height: 45px;
    font-size: 15px;
    padding: 0 10px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    transition: 300ms;

    &:hover {
        background-color: white;
        color: black;
        font-weight: 600;
    }
}
