@import url("style.css");

header {
    margin-top: 100px;
    /* border: 1px solid red; */
    font-family: "Inter", sans-serif;
    height: 214px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

header h1 {
    font-weight: 900;
    font-size: 60px;
}

header span {
    background-color: black;
    color: white;
    padding: 16px 54px;
    border-radius: 30px;
    font-size: 25px;
    font-weight: bold;
}

.detail {
    margin-top: 80px;
    padding: 0 200px;
}

.detail .title {
    padding: 25px 0;
    background-color: black;
    display: grid;
    place-items: center;
    border-radius: 20px;
}

.detail .title span {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 25px;
}

.detail .wrapper {
    margin-top: 50px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.detail .wrapper .judul span {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.detail .wrapper .text.admin-edit,
.detail .wrapper .gambar.admin-edit,
.detail .wrapper .judul.admin-edit {
    font-family: "Poppins", sans-serif;
    transition: 500ms;
    position: relative;
    /* border: 1px solid red; */
}

.detail .wrapper .judul textarea,
.detail .wrapper .text textarea,
.detail .wrapper .judul input,
.detail .wrapper .text input,
.detail .wrapper .gambar input {
    width: 80%;
    border-radius: 12px;
    padding: 5px 10px;
    font-family: "Poppins", sans-serif;
    border: 2px solid black;
    font-size: 17px;
    display: none;
}

.detail .wrapper textarea {
    height: 300px;
    resize: none;
    /* overflow: hidden; */
}

.detail .wrapper textarea::-webkit-scrollbar {
    width: 0.8em;
}

.detail .wrapper textarea::-webkit-scrollbar-track {
    border-radius: 12px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.detail .wrapper textarea::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: black;
    outline: 1px solid slategrey;
}

.detail .wrapper .judul input {
    font-weight: bold;
    font-size: 20px;
    height: 45px;
}

.overlay-admin {
    background-color: transparent;
    position: absolute;
    /* width: 100%; */
    height: 100%;
    top: 0;
    right: 0;
    display: none;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 5px;
    /* border: 1px solid gray; */
    border-radius: 12px;
    /* background-color: rgba(0, 0, 0, 0.5); */
}

.overlay-admin button {
    background-color: white;
    border: 2px solid black;
    color: black;
    font-family: "Poppins", sans-serif;
    padding: 5px 15px;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.2);
    transition: 300ms;
    font-weight: bold;

    &:hover {
        background-color: black;
        color: white;
    }

    &:active {
        transform: translateY(3px);
    }
}

.detail .wrapper .text span {
    display: block;
    font-size: 20px;
    text-align: justify;
}

.detail .wrapper .gambar {
    margin-top: 10px;
    width: 100%;
    /* border: 1px solid blue; */
}

.detail .wrapper .gambar img {
    width: 100%;
    /* border: 1px solid red; */
    border-radius: 10px;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.5);
}

.detail .wrapper .aksi {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.detail .wrapper .aksi button {
    border: 2px solid black;
    background-color: white;
    color: black;
    height: 45px;
    width: 100%;
    border-radius: 12px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    transition: 300ms;
    cursor: pointer;

    &:hover {
        background-color: black;
        color: white;
    }

    &:active {
        transform: translateY(3px);
    }
}

.detail .wrapper .aksi .tambah-judul,
.detail .wrapper .aksi .tambah-teks {
    padding: 50px;
    background-color: black;
    border-radius: 40px;
    font-family: "Poppins", sans-serif;
    display: none;
}

.detail .wrapper .aksi .tambah-judul h1,
.detail .wrapper .aksi .tambah-teks h1 {
    color: white;
    text-align: center;
    font-size: 40px;
}

.detail .wrapper .aksi .tambah-judul form,
.detail .wrapper .aksi .tambah-teks form {
    margin-top: 20px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.detail .wrapper .aksi .tambah-judul form .form-item,
.detail .wrapper .aksi .tambah-teks form .form-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.detail .wrapper .aksi .tambah-judul form .form-item label,
.detail .wrapper .aksi .tambah-teks form .form-item label {
    color: white;
    font-size: 18px;
}

.detail .wrapper .aksi .tambah-judul form .form-item input,
.detail .wrapper .aksi .tambah-teks form .form-item input {
    border: none;
    outline: none;
    border-radius: 12px;
    height: 45px;
    font-size: 15px;
    padding: 0 10px;
    font-family: "Poppins", sans-serif;
}

.detail .wrapper .aksi .tambah-judul form .form-item button,
.detail .wrapper .aksi .tambah-teks form .form-item button {
    border: 1px solid white;
    outline: none;
    background-color: black;
    color: white;
    border-radius: 12px;
    height: 45px;
    font-size: 15px;
    padding: 0 10px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    transition: 300ms;

    &:hover {
        background-color: white;
        color: black;
        font-weight: 600;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOutUp {
    to {
        opacity: 0;
        transform: translateY(-50px);
    }
}

.detail .wrapper .aksi .tambah-gambar {
    display: flex;
    gap: 20px;
    display: none;
}

.detail .wrapper .aksi .tambah-gambar button {
    flex: 1;
    background-color: black;
    color: white;
    font-size: 15px;
}

#pilih-gambar {
    border: 2px solid black;
    background-color: white;
    height: 45px;
    outline: none;
    font-family: "Poppins", sans-serif;
    border-radius: 12px;
    cursor: pointer;
    padding-right: 20px;
    flex: 1;
    font-size: 15px;
}

::-webkit-file-upload-button {
    background-color: black;
    color: white;
    font-family: "Poppins", sans-serif;
    height: 100%;
    border: none;
    padding: 5px 10px;
    width: 100px;
    margin-right: 15px;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    content: "";
    display: none;
    place-content: center;
    z-index: 3;
}

.overlay .box {
    padding: 20px 30px;
    background-color: black;
    font-family: "Poppins", sans-serif;
    border-radius: 12px;
    border: 2px solid white;
    transition: 300ms;
}

.overlay .box span {
    color: white;
}

.overlay .box .aksi {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.overlay .box .aksi button {
    font-family: "Poppins", sans-serif;
    width: 100px;
    font-size: 15px;
    padding: 5px 20px;
    border-radius: 12px;
    cursor: pointer;
}

.overlay .box .aksi button:first-child {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    transition: 300ms;

    &:hover {
        background-color: white;
        color: black;
        font-weight: 600;
    }
}

.overlay .box .aksi button:last-child {
    background-color: white;
    border: 1px solid black;
    color: black;
    font-weight: 600;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.navigasi {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.navigasi a {
    padding: 5px 20px;
    border-radius: 12px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

.navigasi a:first-child,
.navigasi a.daftar-materi {
    background-color: transparent;
    border: 2px solid black;
    color: black;
    transition: 300ms;

    &:active {
        box-shadow: inset 3px 3px 2px rgba(0, 0, 0, 0.3), inset -2px -2px 7px rgba(0, 0, 0, 0.3);
    }
}

.navigasi a:last-child {
    background-color: black;
    border: 2px solid black;
    color: white;
}

.navigasi a:last-child i {
    color: white;
}
