@import url("style.css");

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.login {
    width: 55%;
    background-color: white;
    padding: 20px 40px;
    border-radius: 20px;
    height: calc(100vh - 150px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 500ms;
}

.login h1 {
    font-family: "Inter", sans-serif;
    font-weight: 900;
}

.login form {
    margin-top: 30px;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login form .form-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.login form .form-item-col {
    /* border: 1px solid red; */
    display: flex;
    gap: 20px;
}

.login form .form-item-col > * {
    flex: 1;
}

.login form .form-item label {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.login form .form-item label::after {
    content: "*";
    color: red;
    margin-left: 5px;
}

.login form .form-item input {
    font-family: "Poppins", sans-serif;
    height: 45px;
    border-radius: 8px;
    border: 1px solid black;
    padding: 15px;
    font-size: 15px;
}

.login form .form-item.tombol {
    margin-top: 15px;
}

.login form .form-item button {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    height: 45px;
    border-radius: 8px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    background-color: black;
    color: white;
    transition: 500ms;
}

.login form .form-item button:active {
    transform: translateY(5px);
}

.login form .form-item a {
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: #0075ff;
    font-size: 15px;
}

.overlay-notifikasi {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 500ms fadeIn forwards;

    .notifikasi {
        display: flex;
        gap: 10px;
        flex-direction: column;
        background-color: white;
        border: 3px solid black;
        border-radius: 12px;
        padding: 20px 40px;
        animation: 500ms fadeInDown forwards;

        i {
            text-align: center;
            font-size: 50px;

            &.berhasil {
                color: #198754;
            }

            &.gagal {
                color: #d82b3d;
            }
        }

        span {
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            font-size: 20px;
        }

        button {
            font-family: "Poppins", sans-serif;
            background-color: black;
            color: white;
            border-radius: 12px;
            padding: 10px 20px;
            border: none;
            font-size: 15px;
            cursor: pointer;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeInDown {
    from {
        transform: translateY(-50px);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes fadeOutUp {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-50px);
    }
}
