@import url("style.css");

.container {
    margin-top: 20px;
    height: calc(100vh - 120px);
    /* border: 2px solid black; */
    border-radius: 15px;
    font-family: "Poppins", sans-serif;
    display: flex;
    gap: 20px;
}

.riwayat-course {
    padding: 20px;
    border-radius: 15px;
    border: 2px solid black;
    flex: 1;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
}

.detail-akun {
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
    flex: 2;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid black;
    overflow: hidden;
    position: relative;
}

.detail-akun .detail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    /* animation: 500ms slideLeft forwards; */
}

.detail-akun .detail .kiri {
    display: flex;
}

.detail-akun .detail .kiri img {
    cursor: pointer;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 3px solid black;
    border-radius: 50%;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
    transition: 300ms;

    &:hover {
        transform: scale(110%);
    }

    &:active {
        transform: scale(100%);
    }
}

.detail .kiri form {
    input {
        display: none;
    }
}

.aksi.simpan-perubahan-foto {
    /* display: flex !important; */
    flex-direction: row !important;
    position: absolute;
    top: 10px;
    right: 10px;

    button {
        cursor: pointer;
        padding: 5px 20px;
        border-radius: 12px;
        font-family: "Poppins", sans-serif;

        &:first-child {
            font-weight: bold;
            background-color: transparent;
            border: 2px solid black;
        }

        &:last-child {
            border: none;
            color: white;
            background-color: black;
        }
    }
}

.detail-akun .detail .kanan {
    form {
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .aksi {
            display: none;
            flex-direction: row;
            position: absolute;
            top: 10px;
            right: 10px;

            button {
                cursor: pointer;
                padding: 5px 20px;
                border-radius: 12px;
                font-family: "Poppins", sans-serif;

                &:first-child {
                    font-weight: bold;
                    background-color: transparent;
                    border: 2px solid black;
                }
                &:last-child {
                    border: none;
                    color: white;
                    background-color: black;
                }
            }
        }
    }
}

.detail-akun .detail .kanan input {
    height: 40px;
    border-radius: 12px;
    padding: 5px 10px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    outline: none;
    border: 2px solid black;
    display: none;
    font-size: 20px;
    text-align: center;
}

.detail-akun .detail .kanan span.nama {
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 600;
    position: relative;
    /* border: 1px solid red; */
    width: fit-content;
    text-align: center;

    i {
        position: absolute;
        top: 0;
        right: -20px;
        font-size: 18px;
        cursor: pointer;
        transition: 300ms;

        &:active {
            transform: translateY(5px);
        }
    }
}

.detail-akun .detail .kanan span.email {
    font-size: 25px;
    font-weight: 400;
}

.detail-akun .detail .aksi {
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;

    span:last-child {
        background-color: #dc3545;
    }
}

.detail-akun .detail .aksi span {
    border-radius: 12px;
    padding: 10px 20px;
    background-color: #198754;
    color: white;
    text-align: center;
    transition: 300ms;

    > i {
        color: white;
    }

    &:hover {
        background-color: #148d55;
    }

    &:last-child:hover {
        background-color: #d82b3d;
    }
}

.ubah-kata-sandi {
    /* border: 1px solid red; */
    height: 100%;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.ubah-kata-sandi form {
    margin-top: 20px;
    /* border: 1px solid blue; */
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .form-item {
        gap: 5px;
        display: flex;
        flex-direction: column;

        label {
            font-weight: 600;
        }

        input {
            height: 40px;
            border-radius: 12px;
            padding: 5px 10px;
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            outline: none;
            border: 2px solid black;
        }

        &.aksi {
            flex-direction: row;
        }

        button {
            width: 100%;
            margin-top: 10px;
            font-family: "Poppins", sans-serif;
            background-color: black;
            color: white;
            padding: 10px;
            font-weight: 600;
            letter-spacing: 1px;
            border-radius: 12px;
            border: none;
            cursor: pointer;

            &[type="button"] {
                background-color: white;
                border: 2px solid black;
                color: black;
                font-weight: bold;
                transition: 300ms;

                &:active {
                    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.4);
                }
            }
        }
    }
}

@keyframes slideLeft {
    to {
        transform: translateX(-500px);
        opacity: 0;
    }
}

@keyframes slideRight {
    from {
        transform: translateX(-500px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-300px);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUp {
    to {
        transform: translateY(-300px);
        opacity: 0;
    }
}
