@import url("style.css");

body {
    position: relative;
}

header {
    margin-top: 100px;
    /* border: 1px solid red; */
    font-family: "Inter", sans-serif;
    height: 214px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

header h1 {
    font-weight: 900;
    font-size: 60px;
}

header span {
    background-color: black;
    color: white;
    padding: 16px 54px;
    border-radius: 30px;
    font-size: 25px;
    font-weight: bold;
}

.gambar {
    margin-top: 100px;
    padding: 0 200px;
    /* border: 1px solid red; */
}

.gambar .gambar-item {
    width: 100%;
    /* border: 1px solid blue; */
}

.gambar .gambar-item img {
    width: 100%;
    object-fit: cover;
}

.sub-course {
    margin-top: 120px;
    padding: 0 200px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    /* border: 1px solid red; */
}

.sub-course .sub-course-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 20px;
    padding: 15px 60px;
    background-color: black;
    transition: 300ms;
}

.sub-course .sub-course-item .user {
    /* border: 1px solid red; */
    width: 70%;
}

.sub-course .sub-course-item form {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.sub-course .sub-course-item .user {
    display: flex;
    gap: 30px;
}

.sub-course .sub-course-item:hover {
    transform: scale(1.02);
}

.sub-course .sub-course-item .item span {
    color: white;
}

.sub-course .sub-course-item .item:first-child {
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 15px;
    display: grid;
    place-items: center;
}

.sub-course .sub-course-item .item:first-child span {
    background-color: black;
    font-family: "Poppins", sans-serif;
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
    font-weight: bold;
    border-radius: 7.5px;
    font-size: 20px;
}

.sub-course .sub-course-item .item:nth-child(2) {
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
    width: 100%;
}

.sub-course .sub-course-item .item:nth-child(2) span {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 600;
}

.sub-course .sub-course-item .item:nth-child(2) input {
    width: 100%;
    height: 45px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 12px;
    color: white;
    padding: 5px 10px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    /* display: none; */
    /* border: 1px solid red; */
}

.sub-course .sub-course-item .admin {
    display: flex;
    gap: 10px;
    align-items: center;
    /* border: 1px solid red; */
}

.sub-course .sub-course-item .admin button {
    font-family: "Poppins";
    font-weight: 600;
    padding: 5px 20px;
    background-color: white;
    border-radius: 10px;
    font-size: 15px;
    border: none;
    transition: 300ms;
    display: flex;
    align-items: center;

    &:hover {
        background-color: rgb(240, 238, 238);
    }
}

.sub-course .aksi button {
    border: 2px solid black;
    background-color: white;
    color: black;
    height: 45px;
    width: 100%;
    border-radius: 12px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    transition: 300ms;
    cursor: pointer;

    &:hover {
        background-color: black;
        color: white;
    }

    &:active {
        transform: translateY(3px);
    }
}

.sub-course .tambah-course {
    padding: 50px;
    background-color: black;
    border-radius: 40px;
    font-family: "Poppins", sans-serif;
    display: none;
}

.sub-course .tambah-course h1 {
    color: white;
    text-align: center;
    font-size: 40px;
}

.sub-course .tambah-course form {
    margin-top: 20px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sub-course .tambah-course form .form-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sub-course .tambah-course form .form-item label {
    color: white;
    font-size: 18px;
}

.sub-course .tambah-course form .form-item input {
    border: none;
    outline: none;
    border-radius: 12px;
    height: 45px;
    font-size: 15px;
    padding: 0 10px;
    font-family: "Poppins", sans-serif;
}

.sub-course .tambah-course form .form-item button {
    border: 1px solid white;
    outline: none;
    background-color: black;
    color: white;
    border-radius: 12px;
    height: 45px;
    font-size: 15px;
    padding: 0 10px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    transition: 300ms;

    &:hover {
        background-color: white;
        color: black;
        font-weight: 600;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    content: "";
    display: none;
    place-content: center;
}

.overlay .box {
    padding: 20px 30px;
    background-color: black;
    font-family: "Poppins", sans-serif;
    border-radius: 12px;
    border: 2px solid white;
    transition: 300ms;
}

.overlay .box span {
    color: white;
}

.overlay .box .aksi {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.overlay .box .aksi button {
    font-family: "Poppins", sans-serif;
    width: 100px;
    font-size: 15px;
    padding: 5px 20px;
    border-radius: 12px;
    cursor: pointer;
}

.overlay .box .aksi button:first-child {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    transition: 300ms;

    &:hover {
        background-color: white;
        color: black;
        font-weight: 600;
    }
}

.overlay .box .aksi button:last-child {
    background-color: white;
    border: 1px solid black;
    color: black;
    font-weight: 600;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOutUp {
    to {
        opacity: 0;
        transform: translateY(-50px);
    }
}
